/* A stylesheet contains rules */

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* The above is a single rule */
/*   "body" => selector */
/*   "background-color: blue;" => declaration. A declaration is made up of an attribute-value pair */
/*     "background-color" => attribute */
/*     "blue" => value. */

p {
    background-color: yellow;
}

div {
    margin-left: 20%;
    margin-right: 20%;
    background-color: aqua;
}
